

button#slick-slide-control00 {
    margin-right: 11px;
    height: 5px;
    width: 5px;
    line-height: 5px;
    border: 1px solid;
    border-radius: 50%;
    background: black;
    font-size: 1px;
}

button#slick-slide-control02 {
    margin-right: 11px;
    height: 5px;
    width: 5px;
    line-height: 5px;
    border: 1px solid;
    border-radius: 50%;
    background: black;
    font-size: 1px;
}

button#slick-slide-control01 {
    margin-right: 11px;
    height: 5px;
    width: 5px;
    line-height: 5px;
    border: 1px solid;
    border-radius: 50%;
    background: black;
    font-size: 1px;
}